@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(230, 203, 169);
    display: flex;
    justify-content: center;
    padding: 100px;

}

.produto-cartao,
.cartao-produto {
    width: 375px;
    display: flex;
}

.produto-cartao img {
    max-width: 375px;
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
}

.cartao-produto {
    background-color: white;
    padding: 30px;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
}

.cartao-produto span {
    width: 100%;
    padding: 30px;
    font-size: 17px;
}

.cartao-produto h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.cartao-produto p {
    font-size: 18px;
    color: #888;
}

.cartao-produto button {
    width: 100%;
    padding: 30px;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}